.nav {
  margin: 0 auto;
  height: 40px;
  width: 100%;
  padding-top: 15px;
  background-color: black;
  position: relative;
  border-bottom: 2px solid white;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 0px 0px 0px 10px;
}

.nav > .nav-header > .nav-title > .btn-back {
  color: white;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
